@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ajax-target {
  position: relative;
}

.article--compact {
  border-bottom: 1px solid #555;
  padding: 40px 0 40px 0px;
}

.img-item {
  border-bottom: 1px solid #555;
}

.article__topics a {
  color: #727171;
  text-transform: uppercase;
}

.article {
  position: relative;
}

.article__date {
  font-size: 26px;
  font-weight: 700;
  margin-right: 20px;
}

.article__title {
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
}

.article__authors {
  margin-left: 130px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(241 173 173);
}

.article__topics {
  font-size: 20px;
  font-weight: 600;
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
